body {
    background: url("../assets/images/bg.img.png");
    background-repeat: no-repeat;
    height: 200vh;
    background-size: contain;
}

.restaurant {
    background: url("../assets/images/bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
}

.menu {
    background: url("../assets/images/bg.3.png");
    background-repeat: no-repeat;
    height: 150vh;
    background-size: contain;
}